@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url("http://fonts.googleapis.com/css?family=Lobster");

p{
  color:#ffffff;
  font-size: 16pt;
}

h1{
  color: beige;;
}

.title-text{
  font-size: 100pt;
  color: #ffffff;
  font-family: 'Lobster', Georgia, Times, serif;
  z-index: 2;
  margin: 0 auto;
  position: relative;
  padding-left: 33%;
  padding-top: 100px;
}

h3 .title-text{
  font-size: 50pt;
}

.column{
  margin: 0 auto;
  position: absolute;
  display: block;
}

.center-box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: table;
  z-index: 2;
}

.inner-box{
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  position: absolute;
}

h1 {
  font-size: 24pt;
  color: beige;
}

.carousel {
  margin: 0;
  width: 600px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin-left: 25%;
  border-radius: 8px;
}

.carousel li {
  display: none;
  position: absolute;
}

.arrow-left{
  width: 30px;
  height: inherit;
  position: absolute;
  left: 0;
  opacity: 0.4;
}

.arrow-right{
  width: 30px;
  height: inherit;
  position: absolute;
  opacity: 0.4;
  right: 0;
}

.background-photo{
  background-image: url("../img/img1.jpg");
  width: 100%;
  height: 400px;
  position: fixed;
}

nav{
  padding-left: 20%;
  padding-right: 20%;
  height: 100px;
  background-color: #555555;
  position: fixed;
  width: auto;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

.hidden{
  visibility: collapse;
}

.nav-small{
  height: 50px;
}

nav ul{
  height: inherit;
  width: auto;
  position: relative;

}

footer{
  background-color: #0d3349;
  height: 180px;
}

#modal-background{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1990;
  background-color: rgba(200,200,200,0.5);
  left: 0;
  top: 0;
  display: table;
}

#modal-center{
  display: table-cell;
  vertical-align: middle;
  z-index: 1991;
}

#modal-content{
  width: 700px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #366097;
  z-index: 1992;
}

#modal-img{
    width: 700px;
    height: 450px;
    position: relative;
}

#modal-text{
  color: #ffffff;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.nav-head{
  width: auto;
  float: left;
}

.nav-button a{
  display: block;
  text-decoration: none;
  color: #dddddd;
  font-size: 18pt;
  width: auto;
  height: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-button{
  float:right;
  position: relative;
  vertical-align: text-top;
}

.btn-active{
  font-size: 2pt;
  background-color: #000000;
}

.background-photo{
  z-index: -1;
  width: 100%;
  top: 0;
  position: fixed;
  height: 100%;
}

.nav-title{
  color: #dddddd;
  font-size: 3rem;
  width: auto;
}

.content{
  -webkit-animation: slide 1s;
  -webkit-animation-timing-function: linear;

  animation: slide 1s;
  animation-timing-function: linear;

  margin-top: 450px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide {
  0%   {margin-top: 0;}
  100% {margin-top: 300px;}
}
/* Chrome, Safari, Opera */
@keyframes slide {
  0%   {margin-top: 0;}
  100% {margin-top: 300px;}
}

section{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 400px;
  position: relative;

}

#home_segment{
  background-color: #528CE0;
}

#about_segment{
  background-color: aquamarine;
}

.anchor{
  position: relative;
  top: -50px;
}
#photos_segment{
  background-color: aqua;
}
#contact_segment{
  background-color: aqua;
}

img{
  width: 100%;
  height: 100%;
  position: relative;

}

.gallery{
  position: relative;

}

.img{
  width: 30%;
  height: 30%;
  float: left;
}